@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap');
@import url('https://www.fontspace.com/baskara-font-f71930');

@font-face {
    font-family: 'Baskara';
    src: url('../fontes/baskara-regular.otf') format('opentype');
    font-weight: normal;
}


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Bakbak One', cursive;
    --fonte3: 'Raleway', sans-serif;
    --fonte-baskara: 'Baskara' cursive;

}

*{
     margin: 0%;
     padding: 0%;
}

body{
    line-height: 1.5;
    font-family: var(--fonte1);
}

header{
    background-image: url("imagens/coworking1.jpg");
    padding-top: 20px;
    padding-bottom: 91vh;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 6px 6px 480px 0px rgba(0, 0, 0, 0.486);
}

header nav {
    padding: 10px;
    text-align: center;
    background-position-x: 0px;
    background-size: 100% 5px;
    z-index: 0;
    
}

header #tituloh1{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    z-index: 3;
    text-align: center;

    color: white;
    font-size: 2em;
    font-family: var(--fonte3);
}

header h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}
.button{
    font-family: var(--fonte2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;   
}

.button{
    position: inherit;
    display: inline-block;
    padding: 11px 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.8s;
}

.button:hover{
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px rgb(179, 112, 12), 0 0 40px rgb(179, 112, 12), 0 0 80px rgb(179, 112, 12);
    transition-delay: 0.1s;
    background-color: blanchedalmond;

}

header #div2{
    vertical-align: baseline;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
}

header #button2{
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    font-family: var(--fonte2);
    position: 70px;



}

#button2 {
    position: inherit;
    display: inline-block;
    padding: 11px 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.8s;
}

main{

    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;

}

main > section #divone{

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;


    left: 0;
    width: 300px;
    width: 100%;
    text-align: center;

    padding-bottom: 40px;
}

main #div3{
    

    vertical-align: baseline;
    position: absolute;
    left: 0;
    right: 0;
    color: black;
}

main .textpadding{
    padding-bottom: 30px;
    font-family: Helvetica, sans-serif;
}

main .textpadding1{
    padding-bottom: 30px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    vertical-align: baseline;
    color: #4b4b4b;
    line-height: 22px;
}

main #button3{
    justify-content: center;
    align-items: center;
    color: black;
    background-color: chartreuse;
    font-family: var(--fonte2);
 }

 #button3{
    position: inherit;
    display: inline-block;
    padding: 11px 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.8s;
 }

 main #div4{
    vertical-align: baseline;
    position: absolute;
    display: flexbox;
    left: 0;
    right: 0;

    text-align: center;

 }

 main .textpadding2{
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Helvetica, sans-serif;
    
 }

 main .icons{
     display: inline-block;
     height: 100px;
     width: 100px;

     padding-left: 70px;
     padding-right: 70px;

 }

 main .divpicture{
     display: inline-block;
 }

 main .divpicture2{
     display: inline-block;
     padding-top: 30px;
 }

.imgparallax{

    height: 200px;
    background-position: center, center;
    background-size: cover;
    background-image: url('imagens/2852238.jpg');

    padding-top: 20px;
    padding-bottom: 25vh;
    background-position: center center;
    background-attachment: fixed;

 }

  #idforparallax{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;

   
 }

 .h1parallax{
    position: relative;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    line-height: 66px;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

    padding-top: 40px;
    padding-bottom: 40px;
 }

 #formdiv{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;

 }

 input[type=text] {
    width: 470px;
    height: 50px;
    padding: 0 16px;
    margin: 90;
    box-sizing: border-box;
    border: none;
    background-color: #3cbc8d17;
    color: black;
  }
  .buttonform{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 17px;
  }
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    left: 0;
    right: 0;
}
